.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.weather-info p {
    margin: 0;
}

.weather-info span {
    font-weight: bold;
    margin-right: 10px;
}