body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  
}
.navbar-brand {
color: #fff;
}

.carousel-inner img {
max-height: 500px;
object-fit: cover;
}

.card-img-top {
height: 400px;
object-fit: cover;
}

.card-title {
font-weight: bold;
color: #565656;
}

.card-text {
color: #707070;
}

.btn-primary {
background-color: #9f47ff;
border: none;
font-weight: bold;
font-size: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: transparent;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  list-style-type: none;
}

.nav-links li a {
  color:#1c2a45;
  text-decoration:none;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
}
.nav-links li a:hover {
  color: #ffffff;
}
.logo {
  color: #1c2a45;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }
  .nav-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .nav-active li {
    opacity: 0;
  }
  .nav-active li a {
    color: #1c2a45;
    font-size: 25px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }
  .nav-active li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .nav-active li:nth-child(2) {
    transition-delay: 0.4s;
  }
  .nav-active li:nth-child(3) {
    transition-delay: 0.6s;
  }
  .nav-active li:nth-child(4) {
    transition-delay: 0.8s;
  }
  .nav-active li:nth-child(5) {
    transition-delay: 1s;
  }
  .nav-links.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .hamburger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.backgroundimage>img{
  background-image: url("../asset/f1.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.5);

}
